---
import Layout from "../layouts/Layout.astro";
import FormationGrid from "../components/FormationGrid";
---

<Layout>
  <div class="mx-auto max-w-[1200px] px-4 py-10">
    <FormationGrid client:load initialFormations={[]} />
  </div>
</Layout>
